body{
    font-family: 'Spartan', sans-serif;
    font-weight: 400;
    color:#424141;
    background-color:#F7F7F8;
}

header{
    box-shadow: 0px 0px 10px -5px #999;
    background-color: #fff;
}

.logo-cabecera{
    width:100%;
    height:auto;
}

h1{
    font-weight: 900;
}
h1 span{
    color:#8F8F8F;
}

h1{
    font-weight: 900;
}

h2{
    font-weight: 700;
}

.contenedor-resultados{
    background-color: #fff;
}

/* TABS */ 
.nav.nav-tabs,.nav.nav-tabs .nav-link.active{
    border:0;
}
.nav.nav-tabs .nav-link.active{
    border-bottom:2px solid red;
    font-weight: 600;
}

/* IMAGENES */
.img-fluid{
    width:100%
}

.redondo{
    border-radius: 50%;
}